<section id="home-page">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="title-section">
          <h1>Bearer Token</h1>
          <div class="description">
            <p>
              Copy the JWT token and use it to authenticate on the Swagger UI.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col 12 col-md-12">
        <form [formGroup]="formInstance">
          <div class="search-container">
            <div class="form-group form-group-custom">
              <textarea
                class="form-control form-control-custom"
                formControlName="search"
                id="search-data"
                readonly
                aria-label="JWT token"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
                title="JWT token"
              ></textarea>
            </div>
            <button
              class="btn"
              type="button"
              (click)="copyToClipBoard()"
              style="width: -webkit-fill-available"
            >
              <img
                src="assets/images/icons/copy-icon.svg"
                alt=""
                srcset=""
                width="32"
                height="33"
                title="Copy token to clipboard"
              />
            </button>
          </div>
        </form>
      </div>
      <div class="col-12 col-md-12 mt-5 text-center">
        <button
          (click)="openSwagger()"
          class="btn btn-custom btn-cta-red"
          [disabled]="_isLoading"
        >
          <img
            src="assets/images/icons/swagger-icon.svg"
            alt=""
            srcset=""
            width="32"
            height="33"
            title="Copy"
          />
          Open Swagger UI
        </button>
      </div>
    </div>
  </div>
</section>
