@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toast-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

ol.toasts-container {
  opacity: 1 !important;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  flex: 1 1 0%;
  margin: 0px;
  list-style: none;
  z-index: 1002;
  outline: none;
  overflow: hidden;
  height: fit-content;

  .toast-message {
    margin-left: 16px;
  }

  li.toast-body {
    animation-fill-mode: both;
    display: flex;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    padding: 4px 0;
    align-items: center;
    height: 48px;
    gap: 16px;

    &.visible {
      animation: toast-in 150ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }

    &.hidden {
      animation: toast-out 150ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }

    &.success {
      background: var(--gsspro11-green);
    }

    &.error {
      background: var(--gsspro11-red);
    }
  }

  button.toast-button-close {
    color: var(--neutral-100);
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    margin-right: 8px;

    & svg {
      height: 100%;
    }

    & path {
      fill: var(--neutral-100);
    }

    &:hover {
      path {
        opacity: 0.64;
      }
    }
  }

  button,
  li {
    font-family: Ubuntu, sans-serif, --apple-system, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: var(--neutral-100);
    font-weight: 700;
    font-size: 14px;
  }

  .icon-container {
    height: 24px;
  }
}
